fieldset {
  width: 12.5em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin-top: 1em;
}

ul label {
  display: inline-block;
  width: 8em;
  text-align: right;
}

ul input {
  width: 4em;
}
      
.row {
  text-align: center;
  margin-top: 1em;
}
body{
	font-family: 'Dongle', sans-serif;
	font-size: 20px;
}