body {
	background-color: #F4F269;
}
table, td, th {
	border-style: solid;
	border-collapse: collapse;
	padding: 14px
} 
img {
	width: 150px;
	display: block;
  margin-left: auto;
  margin-right: auto;
}
#bottomcaption{
	caption-side: bottom;
}
h1{
	font-family: Georgia;
}
table{
	font-family: Courier New;
}
thead{
	background-color: orange;
}
caption{
	font-family: Arial, sans-serif;
}
.total{
	background-color: orange;
	text-align: center;
	font-weight: bold;
	font-size: 150%
}
.total:hover{
	background-color: red;
}
th{
	color: white;
}
.black{
	border-color: black;
}