header{
	background-color: grey;
	height: 150px;
}
header h1{   
	line-height: 140px;   
	margin: 0 0 0 30px;   
	font-size: 60px; 
}
nav{
	background-color: black;
	padding:10px 0;
}
nav ul{   
margin: 0; 
} 
nav li{   
display: inline-block; 
}
nav a{
	font-size: 24px;
	padding: 10px;
	color: white;
	text-decoration: none;
}
nav a:hover{
	background-color: grey;
}
main h2{
	font-size: 40px;
}
footer{
	background-color: grey;
	height: 100px;
}
body{ 
	margin: 0; 
}
h2, p{ 
	padding: 0 0 0 30px; 
}
header img{   
	width: 100px;   
	position: absolute;   
	right: 30px;   
	top: 30px;   
	border-radius: 15%; 
}
blockquote{   
	border-left: 4px solid grey;   
	margin-left: 0;   
	font-style: italic; 
}
#layout{
	display: flex;
}
#layout > main{
	flex: 1;
}
#layout > section{
	flex-direction: column;
	justify-content: flex-start;
	column-width:350px;
	margin: 10px
}
video{
	max-width: 300px;
}