/* header and body setup */

html {
  font-family: sans-serif;
  /* TODO: Add pattern.png as a background image */
  background-image: 
  url("pattern.png");
}

body {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: white;
  position: relative;
}

/* Header styling */

header {
  height: 150px;
  background-color: lightgray;
}

header img {
  /* TODO: Set the logo image width to 100px */
  width: 100px;
  position: absolute;
  right: 32.5px;
  top: 32.5px;
}

h1 {
  font-size: 50px;
  line-height: 140px;
  margin: 0 0 0 32.5px;
}

/* main section and video styling */

article {
  padding: 20px;
}

h2 {
  margin-top: 0;
}

header p {
  line-height: 2;
}

figure {
  float: left;
  margin: 0 20px 20px 0;
  max-width: 100%;
  text-align: center;
}

figure img {
  height: 200px;
}

/* further info links */

.further-info {
  clear: left;
  padding: 26px 0 40px;
  background: #2196f3;
  box-shadow: inset 0 3px 2px rgba(0, 0, 0, 0.5),
    inset 0 -3px 2px rgba(0, 0, 0, 0.5);
}

.further-info a {
  width: 25%;
  display: block;
  float: left;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  color: black;
  line-height: 2;
}

.further-info img {
  max-width: 100%;
}

.clearfix {
  clear: both;
}

/* Cookies image */

#cookies img {
  display: block;
  max-width: 100%;
}

/* footer styling */

footer {
  padding: 20px;
}

ul {
  list-style: none;
  padding: 0;
}