form{
	display: flex;
}
body{
	text-align: left;
	flex-wrap: wrap;
}
img{
	border-radius: 20px;
	
}
#container{
	display: grid;
	text-align: right;
	margin-right: 1cm;
}
#labelMeal{
	margin-right: 3.5cm;
}

#labelAmount{
	margin-right: 2cm;
}
#amount{
	width:200px;
}
#labelComments{
	margin-right: 2cm;
}
#comments{
	width:200px;
	height: 70px;
	vertical-align:top;
}

#fieldset2{
	display: grid;
	text-align: left;
	grid-row-gap:2%;
}
#labelEmail{
	text-align:right;
}
#email{
	width:285px;
}
#first{
	width:285px;
}
#last{
	width:285px;
}
#button{
	text-align:center;
}



input:valid{
	border-color: palegreen;
}
select:valid{
	border-color: palegreen;
}
input:invalid:focus{
	border-color: rgba(255,0,0,0.25);
}
select:invalid:focus{
	border-color: rgba(255,0,0,0.25);
}